<article>
	<h3>About</h3>
	<p>
		My name’s Erwin Goossen and am from the middle of the Netherlands near Utrecht. I was born in the mid seventies. To be more precise, the year Sesame Street was on dutch tele for the first time.
	</p>
	{% include social/social-follow.html %}
	<a href="/about/" class="more">More</a>
</article>