<article>
	<h3>All categories</h3>
	<ul class="categories">
	  {% for categorie in site.categories %}
	    <li data-jl-animate="fadein">
	    	<a href="/category/{{ categorie[0] }}" title="All posts within {{ categorie[0] }}</">
	    		{{ categorie[0] }}
	    	</a> 
	    </li>
	  {% endfor %}
	</ul>
	<a href="/blog/" title="" class="more">All posts</a>
</article>