<article data-jl-animate="fadein">
	<h3>Projects</h3>
	<ul>
	  {% for project in site.projects | limit: 10 %}
	    <li class="project">
	       <a href="{{ project.url }}">{{ project.title }}</a>
	    </li>
	  {% endfor %}
	</ul>
	<a href="/projects/" title="" class="more">All projects</a>
</article>