<article>
	<h3>Recent posts</h3>
	<ul>
	  {% for post in site.posts | limit: 5 %}
	    <li data-jl-animate="fadein">
	      {{ post.date | date: "%-d %b" }} &bullet; <a href="{{ post.url }}">{{ post.title }}</a>
	    </li>
	  {% endfor %}
	</ul>
	<a href="/blog/" title="" class="more">All posts</a>
</article>
