<!-- Some follow me links -->
<ul class="social-follow">
{% for follow in site.follow %}
	<li>
		<a href="{{follow.url}}" title="{{follow.text}}" class="follow {{follow.name}}" target="_blank">
			{% case follow.name %}
			{% when 'twitter' %}
			{% include icons/icon-twitter.svg %}
			{% when 'linkedin' %}
			{% include icons/icon-linkedin.svg %}
			{% endcase %}
		</a>
	</li>
{% endfor %}
</ul>