<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#d95043">
<link rel="apple-touch-icon" href="/images/icons/Appicon.png"/>
<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/Appicon60x60.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/Appicon76x76.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/Appicon60x60@2.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/Appicon76x76@2.png"/>
