<meta property="og:title" content="{{page.title}}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="{{site.title}}" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:description" content="{{post.excerpt}}" />
<meta property="og:image" content="http://navelpluisje.nl/images/screenshot.png" />