<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{site.twitter_username}}" />
<meta name="twitter:url" content="{{site.url}}{{page.url}}" />
<meta name="twitter:title" content="{{page.title}}" />
<meta name="twitter:description" content="{{post.excerpt}}" />
<meta name="twitter:image" content="http://navelpluisje.nl/images/screenshot.png" />