.contact-social,
.contact-repos {
	@include column(100);

	@include respond-to(800) {
		@include column(50);
	}
}

.contact-card {
	margin-bottom: 30px;
	// height: 80px;
	position: relative;

	svg {
		position: relative;
		left: 0;
		height: auto;
		width: 17%;
		z-index: -1;

		path {
			@include transition(all .3s ease);
			stroke: $secondary-color;
		}
	}

	section {
		display: block;
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: 80%;
	}

	h5 {
		@include transition(color .3s ease);
		@include transform(translateY(-50%));
		position: relative;
		top: 50%;
	}

	&:hover {
		path {
			fill: $primary-light-color;
			stroke: $primary-color;
		}

		h5 {
			color: $secondary-color;
		}
	}
}

.contact-mail {
	@include column(100);
	border-top: 1px dotted $secondary-light-color;
	padding-top: 0;
	text-align: center;

	span {
		font-size: .8em;
		font-style: italic;
	}
}
