.site-start {
    @include column(100, false);
    background-color: $primary-color;
    color: $primary-light-color;
    height: 100vh;
    overflow: hidden;
    position: relative;

    h1 {
        @include transition(all .35s ease, transform 1s ease);
        // @include transform(scale(30) translateY(-100vw));
        color: $default-light;
        display: inline-block;
        font-size: 10vw;
        text-align: center;
        width: 100vw;

        &.show {
            @include transform(scale(1) translateY(0));
        }
    }

    article {
        @include transform(translateY(-50%));
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;

        .site-head {
            @include transition(opacity .35s ease);
            display: none;
            opacity: 0;
            height: 4rem;
        }

        &.fixed {
            @include transform(translateY(0));
            overflow: hidden;
            position: fixed;
            top: 0;
            z-index: 3;
        }

        &.shrink {
            height: 4rem;

            .site-head {
                display: inline;
                .head path {
                    stroke-width: 15;
                }
            }

            h1 {
                display: inline-block;
                font-size: 2rem;
                line-height: 4rem;
                vertical-align: top;
                width: auto;
            }

            section {
                @include transition(all .35s ease);
                height: 0;
                opacity: 0;
            }
        }

        &.topbar {
            background-color: $primary-color;

            .site-head {
                opacity: 1;
            }
        }
    }

    section {
        @include transition(all .35s ease, opacity .35s ease .5s);
        font-size: 6vw;
        opacity: 0;
        overflow: hidden;
        text-align: center;
        span {
            font-style: italic;
        }

        &.show {
            opacity: 1;
        }
    }
}

.site-head {
    height: 100vh;
    opacity: .5;
}

.site-blog {
    @include column(100);
    @include respond-to(600) {
        @include column(50);    
        border-right: 1px solid $primary-color;
    }
    background-color: $base-background-color;

    ul {
        list-style: none;
        padding-left: 0;
    }
}

.site-projects {
    @include column(100);
    @include respond-to(600) {
        @include column(50);    
    }
    background-color: $base-background-color;
}