.page-image {
    @include column(100);
    @include respond-to(500) {
        @include column(35);
    }
    @include respond-to(800) {
        @include column(30);
    }
    @include respond-to(1100) {
        @include column(25);
    }

    .site-head {
        height: auto;
        opacity: 1;
        width: auto;
        @include respond-to(0, 500) {
            max-height: 200px;
            max-width: 200px;
        }
        @include respond-to(500) {
            width: 100%; 
        }
    }

    .nose, .head {
        path {
            stroke: $tertiair-color;
            fill: $tertiair-color;
        }            
    }

    .body {
        path {
            stroke: darken($tertiair-color, 10%);
            fill: darken($tertiair-color, 10%);
        }            
    }
}

.page-content {
    @include column(100);
    @include respond-to(500) {
        @include column(65);
    }
    @include respond-to(800) {
        @include column(70);
    }
    @include respond-to(1100) {
        @include column(75);
    }
}