.posts-header {
	@include column(100);
	padding-bottom: 0;

	@include respond-to(800) {
		padding-bottom: 0;
	}

	&.category h1 {
		color: $tertiair-color;

		span {
			color: $primary-color;
		}
	}
}

.the-posts {
	@include column(100);
	overflow: hidden;

	.posts-item {
		border-top: 1px dotted $primary-light-color;

		small {
			color: $default-color;
			display: none;
			float: right;
			font-size: .5em;
			@include respond-to(800) {
				display: inline;
			}
		}

		.more {
			&:after {
				content: '\21dd';
				margin-left: 5px;
			}
		}
	}
}