.post {
    @include column(100);
    border-right: 1px solid $primary-light-color;
    @include respond-to(800) {
        @include column(65);
    }
    @include respond-to(1100) {
        @include column(70);
    }
}

.post-aside {
    @include column(100);
    @include respond-to(800) {
        @include column(35);
    }
    @include respond-to(1100) {
        @include column(30);
    }
}

.post-content {
    p:first-of-type {
        font-weight: 500;
    }
}
