.projects-container {
    > header {
        @include column(100);        
        padding-bottom: 0;

        @include respond-to(800) {
            padding-bottom: 0;
        }
    }

    .the-projects {
        @include column(100);        
    }

    article {
        @include column(100, false);
        border-top: 1px dotted $primary-light-color;
        color: $default-color;
        height: 200px;
        margin-bottom: 30px;
        overflow: hidden;

        picture {
            @include transition(transform .2s ease);
            float: left;
            width: 128px;
        }

        section > section{
            float: left;
            padding: 0 20px;
            width: calc(100% - 128px);
        }      
    }

    @include respond-to(900) {
        article {
            @include column(50, false);
        }
    }
}
