.project-header {
    @include column(100);
    padding-bottom: 0;

    small {
        float: right;
        font-size: .4em;
        
        a:before {
            content: '\21dc';
        }
    }

    @include respond-to(800) {
        padding-bottom: 0;
    }
}

.project-image {
    @include column(20);

    img {
        border: 2px solid $primary-light-color;
        border-radius: 50%;
        width: 100%;
    }
}

.project-content {
    @include column(80);
    @include respond-to(1000) {
        @include column(50);
    }
}

.project-info {
    @include column(100, false);
}
