
@mixin respond-to($min, $max: 0, $medium: 'screen') {
	@if $min != 0 and $max != 0 {
		@media #{$medium} and (min-width: #{$min}px) and (max-width: #{$max}px) {
			@content;
		}
	}

	@if $min != 0 and $max == 0 {
		@media #{$medium} and (min-width: #{$min}px) {
			@content;
		}
	}

	@if $min == 0 and $max != 0 {
		@media #{$medium} and (max-width: #{$max}px) {
			@content;
		}
	}
}

@mixin column($width, $padding: true) {
    float: left;
    width: #{$width}#{'%'};


    @if $padding  {
        padding: 20px;
	    @include respond-to(800) {
	        padding: 2rem;
	    }
    }
}
