.the-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.page-header {
    @include column(100);
    h1 {
        color: $secondary-color;            
    }
}

a.more {
    cursor: pointer;
    &:after {
        content: '\21dd';
    }
}

