.header {
    background-color: $primary-color;
    color: $default-light;
    height: 4rem;
    overflow: hidden;
    position: relative;

    .site-head {
        height: 4rem;

        .head {
            stroke-width: 1rem;
        }
    }

    .site-title {
        color: $default-light; 
        display: inline-block;
        font-size: 2rem;   
        line-height: 4rem;
        vertical-align: top;

        &:hover {
            border-color: $default-light;
        }
    }
}