
/*doc
---
title: Aside
name: aside
category: Elements
---

Sidebar component

```html_example
  <aside class="post-aside">
    <article>
    	<h3>Aside</h3>
    	<ul>
			<li data-jl-animate="fadein" class="init animated">
			  28 Feb • <a href="/2016/02/modular-gulp-my-way.html">Modular Gulp, my way</a>
			</li>

			<li data-jl-animate="fadein" class="init animated">
			  21 Feb • <a href="/2016/02/beat-the-sound-module-two.html">Beat the sound module (part 2)</a>
			</li>
    	</ul>
    </article>
  </aside>
```

*/

.post-aside {
	article {
		border-top: 1px dotted $primary-light-color;
		padding: 15px 0;

		&:first-of-type {
			border: none;
			padding-top: 0;
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	li {
		a {
			color: $default-color;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.project {
		display: inline-block;


		&:after {
			color: $default-color;
			content: ' | '
		}
	}

	.more {
		display: inline-block;
		padding-top: 10px;
		vertical-align: top;

		&:after {
			content: '\21dd';
			margin-left: 5px;
		}
	}
}