---
layout: default
---
<section class="page-container" data-jl-animate="fadein">

	<header class="page-header">
		<h1 class="page-title">{{ page.title }}</h1>
	</header>

	<section class="contact-social">
		<h3>Social</h3>
		<a href="https://nl.linkedin.com/in/erwin-goossen-5ab84740" target="_blank">
			<article class="contact-card linkedin">
				{% include icons/icon-linkedin.svg %}
				<section>
					<h5>Visit me on LinkedIn</h5>
				</section>
			</article>		
		</a>
		<a href="https://twitter.com/navelpluisje_nl" target="_blank">
			<article class="contact-card twitter">
				{% include icons/icon-twitter.svg %}
				<section>
					<h5>Let&acute;s chirp no Twitter</h5>
				</section>
			</article>
		</a>
	</section>

	<section class="contact-repos">
		<h3>Code</h3>
		<a href="https://bitbucket.org/Navelpluisje/" target="_blank">
			<article class="contact-card bitbucket">
				{% include icons/icon-bitbucket.svg %}
				<section>
					<h5>Enjoy me on Bitbbucket</h5>
				</section>
			</article>
		</a>
		<a href="https://github.com/navelpluisje" target="_blank">
			<article class="contact-card github">
				{% include icons/icon-github.svg %}
				<section>
					<h5>Or on Github</h5>
				</section>
			</article>
		</a>
	</section>

	<section class="contact-mail">
		Or send a mail to: erwin <span>at</span> navelpluisje <span>dot</span> nl.		
	</section>

</section>
