<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body>

  	{% include cards/google-tagmanager.html %}
    {% include header.html %}

    <div class="the-content">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>