<!DOCTYPE html>
<html>

  {% include head.html %}

  <body itemscope="" itemtype="http://schema.org/WebPage">
    {% include cards/google-tagmanager.html %}
    <!-- The head and title section -->
    <section class="site-start" data-jl-animate="fadein">
      {% include icons/icon-head.svg %}
      <article>
        {% include icons/icon-head.svg %}
        <h1 itemprop="name">{{ site.title }}</h1>
        <section>
          Fron<span>tender</span>
        </section>
      </article>
    </section>
    {% include main-menu.html %}    

    <!-- The blogs and projects part -->
    <div class="the-content" role="main">
      <section class="site-blog">
        <h2>Blog</h2>
        <ul>
          {% for post in site.posts | limit: 5 %}
            <li data-jl-animate="slideleft">
              <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
              {{ post.excerpt }}
            </li>
          {% endfor %}
        </ul> 
        <a href="/blog/" class="more" data-jl-animate="slideleft">All posts</a>
      </section>

      <section class="site-projects">
        <h2>Projects</h2>
          {% for post in site.projects | limit: 5 %}
            <article data-jl-animate="slideright">
              <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
              {{ post.excerpt }}
            </article>
          {% endfor %}
          <a href="/projects/" class="more" data-jl-animate="slideleft">All projects</a>
      </section>      
    </div>

    <!-- The footer -->
    {% include footer.html %}
  </body>
</html>
