---
layout: default
---
<article class="page-container" data-jl-animate="fadein">

  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>

  <div class="page-image">
	{% include page.image %}
  </div>

  <div class="page-content">
    {{ content }}
  </div>

</article>
