---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting" data-jl-animate="fadein">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta">
    	<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %B %Y" }}</time>
      {% if page.author %}
         • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
         </span>
      {% endif %}
    	{% if page.timerequired %}
    		 • <time datetime="{{ page.timerequired | timerequired: 'iso8601' }}" itemprop="timeRequired">
    		  {{ page.timerequired | timerequired }}
    		 </time>
    	{% endif %}
      {% if page.categories %}
      {% endif %}
      <br/>
      <ul class="categories">
        {% for category in page.categories %}
          <li>
            <a href="/category/{{category}}" title="All posts within {{category}}">{{category}}</a>
          </li>
        {% endfor %}
      </ul>

      {% include social/social-share.html %}

    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

	{% include plugins/disqus.html %}
</article>

<aside class="post-aside" data-jl-animate="fadein">
  {%include sidebars/post.html%}
</aside>
<!-- Some disqus code -->  
