---
layout: default
---
<div data-jl-animate="fadein">
	<section class="posts-header">
	  	<h1>{{page.title}}</h1>
	</section>

	<section class="the-posts">
		{% for post in site.posts | sort: 'title' %}
		<article class="posts-item" data-jl-animate="slideup">
			<header>
			    <h3><a href="{{ post.url }}">{{ post.title }}</a><small><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%-d %B %Y" }}</time></small></h3>			
			</header><!-- /header -->
		    {{ post.excerpt }}
		    <a href="{{ post.url }}" class="more">Read more</a>
		</article>      
		{% endfor %}			
	</section>
</div>
