---
layout: default
---

<section class="projects-container" data-jl-animate="fadein">
	<header class="projects-header">
	  <h1>{{page.title}}</h1>
	</header>

	<section class="the-projects">
		{% for project in site.projects %}
		<a href="{{ project.url }}">
			<article>
				<header>
				    <h2>{{ project.title }}</h2>
				</header>   
				<section>
					<picture>
						<source src="{{ project.image }}">
						<img src="{{ project.image }}"/>
					</picture>
					<section>
				    	{{ project.excerpt }}
					</section>
				</section>   
			</article>  
		</a>    
		{% endfor %}			
	</section>
</section>
