/*doc
---
title: Body
name: body
category: Base CSS
---

The default body background and text colors and font-sizes

```html_example
  Just some text
```

*/

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

/*doc
---
title: Headings
name: headings
category: Base CSS
---

The six headings

```html_example
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
```

*/


h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  font-family: $heading-font-family;
  font-weight: $base-font-weight;
  line-height: $heading-line-height;
  margin: 0 0;
  overflow: hidden;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  margin: 0 0 $small-spacing;
}

/*doc
---
title: Anchor
name: anchor
category: Base CSS
---

The default anchor

```html_example
  <a href="#">A default anchor</a>
```

*/

a {
  @include transition(all .3s ease);
  border-color: transparent;
  border-style: dotted;
  border-width: 0 0 1px 0;
  color: $action-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    border-color: $secondary-color;
    color: shade($action-color, 25%);
  }

  &:visited {
    border: none;
  }
}

/*doc
---
title: Miscellaneous
name: miscellaneous
category: Base CSS
---

The small, strong and hr elements

```html_example
  <hr />
  Some <small>small</small> text<br/>
  Some <strong>strong</strong> text
```

*/
small {
  font-size: .8em;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

strong {
  font-weight: 500;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

code {
  font-family: $mono-font-family;
  &.highlighter-rouge {
    background-color: $secondary-light-color;
    font-size: .8em;
    padding: 0 .2em;
  }
}

/*doc
---
title: Blockquote
name: blockquote
category: Base CSS
---

The blockquote

```html_example
  <blockquote>
    lorem Ipsum
  </blockquote>
```

*/
blockquote {
  border-color: $tertiair-color;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  font-weight: 300;
  font-size: .9em;
  font-style: italic;
  padding: .6em 0 0 20px;
}
