

// Typography
$base-font-family: 'Roboto Condensed', sans-serif;
$heading-font-family: $base-font-family;
$mono-font-family: 'Roboto mono', monospace;

// Color-scheme by https://color.adobe.com/Trumpets-color-theme-6993838/?showPublished=true
$primary-color: #d95043;
$secondary-color: #204359;
$tertiair-color: #d5a45b;
$primary-light-color: #c4beb1;
$secondary-light-color: #bfb19f;

// Text-colors
$default-color: #333;
$default-light: #fff;

// Font Sizes
$base-font-size: 1.2rem;
$font-size-h1: 3.2rem;
$font-size-h2: 2.8rem;
$font-size-h3: 2.4rem;
$font-size-h4: 2rem;
$font-size-h5: 1.6rem;
$font-size-h6: 1.2rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Font Colors
$base-font-color: $default-color;
$action-color: $primary-color;

$base-font-weight: 300;

// Border
$base-border-color: $primary-light-color;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $default-light;
$secondary-background-color: $primary-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
